html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #F6FAFD;
}

.o-div-calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.o-span-uao {
  font-size: 3rem;
  color: #2F4251;
  line-height: 3.5rem;
}

.o-h1-calculator {
  font-size: 3rem;
  color: #2F4251;
  line-height: 3.5rem;
  margin: 0 0 2.75rem 0;
}

.o-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.o-label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  line-height: 16px;
  color: #BBC7D6;
  margin-bottom: 0.4rem;
}

.o-div-inputs {
  width: 17rem;
}

.o-div-inputs .o-div-input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.7rem;
}

.o-div-inputs .o-div-input-number .o-input-number {
  border: none;
  border-bottom: 1px solid #52729E;
  background-color: transparent;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #2F4251;
}

.o-div-inputs .o-div-select-operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.o-div-inputs .o-div-select-operation .o-div-select-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-div-inputs .o-div-select-operation .o-div-select-wrapper img {
  position: absolute;
  right: 29px;
  height: 40%;
  -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(0%) hue-rotate(160deg) brightness(105%) contrast(106%);
          filter: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(0%) hue-rotate(160deg) brightness(105%) contrast(106%);
  pointer-events: none;
}

.o-div-inputs .o-div-select-operation .o-select-operation {
  width: 100%;
  border: none;
  background-color: #2F4251;
  text-align-last: center;
  font-size: 1.5rem;
  line-height: 28px;
  color: white;
  border-radius: 30px;
  padding: 0.7rem 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.o-div-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  padding: 0;
  border: none;
  background-color: #F70025;
  border-radius: 30px;
  color: white;
  font-size: 48px;
  line-height: 56px;
  margin: 2.5rem 2rem 2.5rem 5rem;
  cursor: pointer;
}

.o-div-result {
  width: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 21px;
  -webkit-box-shadow: 0px 4px 25px rgba(100, 168, 221, 0.23);
          box-shadow: 0px 4px 25px rgba(100, 168, 221, 0.23);
  padding: 50px;
}

.o-div-result .o-p-result {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  font-size: 72px;
  line-height: 3.5rem;
  color: #2F4251;
  font-weight: bold;
}

@media only screen and (max-width: 970px) {
  .o-div-inputs, .o-div-result {
    width: 100%;
  }
  .o-div-inputs .o-div-select-operation .o-div-select-wrapper img {
    right: 30%;
  }
  .o-div-submit {
    margin: 2.5rem;
  }
  .o-div-result {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */